*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
  padding: 1.5rem 1rem;
}

main{
  display: grid;
  gap: 1rem;
}

img{
  border-radius: 50%;
  display: block;
  height: 3.5rem;
  margin-bottom: 1rem;
  margin-inline: auto;
  width: 3rem;
}
.name{
  color: black;
  font-weight: 900;
  text-align: center;
  /* margin-inline: center; */
}
.container{
  background-color: grey;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
}
.hidden {
  display: hidden;
}
.container a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}